[Unit]
Description=secure-dns-proxy service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=secure-dns-proxy
Group=secure-dns-proxy
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
LimitMEMLOCK=infinity
ExecStart=/usr/local/bin/secure-dns-proxy --config /etc/secure-dns-proxy/config.json
Restart=on-failure
RuntimeDirectory=secure-dns-proxy
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target
